@page "/databaseBrowser"
@using RenPyReader.Components.Shared
@using RenPyReader.Services
@inject IApplicationStateService StateService
@inject ISQLiteService SQLiteService

<div class="database-browser-wrapper">
    <div class="database-browser-column small-column table-names">
        @foreach (var tableName in _tableNames)
        {
            <div class="table-name" @onclick="() => OnSelectedTableName(tableName)" style="@GetSelectedTableNameStyle(tableName)">
                <h5>@tableName</h5>
            </div>
        }
    </div>

    @if (_tableData == null || _tableData.Count == 0)
    {
        <div style="align-items: flex-start !important; padding: 16px;">
            <span>
                No data to display.
            </span>
        </div>
    }
    else if (_errorMessage != null && !string.IsNullOrEmpty(_errorMessage))
    {
        <div style="align-items: flex-start !important; padding: 16px;">
            <h5 style="color: crimson;">
                @_errorMessage
            </h5>
        </div>
    }
    else
    {
        <div class="database-browser-column big-column table-data">
            <table class="table table-striped table-bordered" style="padding-top: 0px; overflow-y: auto;">
                <thead class="thead-dark">
                    <tr>
                        @foreach (var columnName in _tableData[0].Keys)
                        {
                            <th>
                                @columnName
                                <input type="text" style="margin-left: 8px;" @oninput="e => OnFilterTextChanged(e, columnName)" placeholder="Filter by @columnName" />
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    <Virtualize Items="@_filteredTableData" Context="row">
                        <tr>
                            @foreach (var column in row.Values)
                            {
                                <td>@column</td>
                            }
                        </tr>
                    </Virtualize>
                </tbody>
            </table>
        </div>
    }
</div>